@import (reference) 'utilities';
@import (reference) 'variables';

.note {

  background-color: white;
  border          : var(--border);
  border-radius   : var(--border-radius);
  box-shadow      : var(--box-shadow);
  position        : relative;

  &__buttons {
    align-items: center;
    flex-flow  : row nowrap;
  }

  // index card styling
  &__content {
    background-image   : repeating-linear-gradient(white 0, white 1.65em, teal 1.75em);
    border-block-start : 0.2em solid rgba(255, 0, 0, 0.6);
    border-radius      : 0 0 var(--border-radius) var(--border-radius);
    min-block-size     : 3em;
    padding-block-start: 0.125em;
  }

  &__date {
    font-size: small;
  }

  &__date-field + &__date-field {
    // large screens
    @media (min-width: @breakpoint) {
      margin-inline-start: var(--space);
    }
  }

  &__editor {
    background-color: white;
    border          : var(--border);
    border-radius   : var(--border-radius);
    margin          : var(--space-xs);
    padding         : var(--space-xs);
  }

  &__editor-buttons {
    .align-end;
  }

  &.editing {

    .note__editor {
      display: flex;
    }

    .note__edit-button {
      display: none;
    }

    .note__text-preview {
      display: none;
    }

  }

  &:not(.editing) {

    .note__editor {
      display: none;
    }

    .note__edit-button {
      display: block;
    }

    .note__text-preview {
      display: block;
    }

  }

  &__header {

    align-items      : baseline;
    flex-direction   : row;
    margin-inline-end: 5em; // space for .buttons + a little padding
    padding          : var(--space-xs);

    // small screens
    @media (max-width: @breakpoint) {
      flex-direction: column;
    }

    // large screens
    @media (min-width: @breakpoint) {
      flex-direction: row;
    }

  }

  &__header-button {
    margin: var(--space-xxxs);
  }

  &__header-buttons {

    inset-block-start  : 0;
    inset-inline-end   : 0;
    position           : absolute;
    margin-inline-start: auto;

    .note__delete-button {
      margin-inline-start: 0;
    }

  }

  &__help-text {
    padding-block-end: var(--text-block-padding);
  }

  &__input-group {
    flex-wrap       : wrap;
    margin-block-end: var(--space-sm);
  }

  &__save-button {
    margin-inline-start: var(--space-xs);
  }

  &__src-preview:not(:empty) {

    margin-inline-end: var(--space);

    & .note__date-field {
      // small screens
      @media (max-width: @breakpoint) {
        margin-block-start: var(--space-xxs);
      }
    }

  }

  &__text-input {
    resize: vertical;
    padding: var(--text-padding);
  }

  &__text-preview {
    cursor        : pointer;
    line-height   : 1.75;
    padding-inline: var(--space-xs);
  }

  &__text-preview:not(:empty) + &__editor {
    margin-block-start: var(--space-sm);
  }

}
