<main id=main class='main languages-page' data-page=Languages>

  {{> LanguagesList }}

  <section class=language-editor>
    <button class=add-language-button type=button>Add a Language</button>
  </section>

  <template id=languages-list-template>
    {{> LanguagesList }}
  </template>

  <template id=language-editor-template>
    {{> LanguageEditor }}
  </template>

</main>
