// Globals
@import (reference) 'utilities.less';
@import (reference) 'variables.less';

// Shared Components
@import 'Fieldset/Fieldset';
@import 'BoxInput/BoxInput';
@import 'HelpText/HelpText';
@import 'InputGroup/InputGroup';
@import 'Label/Label';
@import 'Legend/Legend';
@import 'LineInput/LineInput';
@import 'List/List';
@import 'Required/Required';
@import 'TranscriptionGroup/TranscriptionGroup';

.languages-page {

  &__languages-list {
    margin-inline: var(--space);
    li {
      hyphens: auto;
    }
  }

  &__nav {

    align-items: stretch;

    // large screens
    @media (min-width: @breakpoint) {
      inline-size: 20em;
    }

  }

  &__nav-add-lang-button {
    .align-center;
    margin: var(--space);
  }

  .language-editor-placeholder {
    inline-size: 100%;
    margin     : var(--space);
  }

  // small screens
  @media (max-width: @breakpoint) {
    flex-direction: column;
  }

  // large screens
  @media (min-width: @breakpoint) {
    flex-direction: row;
  }

}
