<main id=main class='main languages-page' data-page=Languages>

  {{> LanguagesList }}

  <section class=language-editor></section>

  <template id=languages-list-template>
    {{> LanguagesList }}
  </template>

  <template id=language-editor-template>
    {{> LanguageEditor }}
  </template>

</main>
