<main id=languages-page class='main languages-page' data-page=languages>

  <nav class=languages-page__nav>
    <h1 class=block-header>Languages</h1>
    <ul class='js-languages-page__languages-list languages-page__languages-list'></ul>
    <button class='button green js-languages-page__nav-add-lang-button languages-page__nav-add-lang-button'>Add a language</button>
  </nav>

  <section class='language-editor language-editor-placeholder'>
    <h1 class=block-header>Choose a language</h1>
  </section>

</main>