@import (reference) 'variables';
@import (reference) 'Languages/LanguageEditor/LanguageEditor';
@import (reference) 'Languages/LanguagesNav/LanguagesNav';

.language-editor { .language-editor; }

.languages-nav { .languages-nav; }

.languages-page {

  justify-content: center;

  // small screens
  @media (max-width: @breakpoint) {
    flex-direction: column;
  }

  // large screens
  @media (min-width: @breakpoint) {
    flex-direction: row;
  }

}

