@import (reference) 'Button/Button';
@import (reference) 'Header/Header';
@import (reference) 'List/List';

.languages-list {

  align-items: center;

  .add-language-button {

    .button;
    .green;

    margin: var(--space);

  }

  .header { .header; }

  .list {
    .list;
    margin-inline: var(--space);
  }

}
