.button {

  background-color: var(--light-gray);
  border-radius:    var(--border-radius);
  cursor:           pointer;
  padding:          var(--text-padding);

  &:hover {
    background-color: hsl(210, 11%, 86%);
  }

  &.primary {

    background-color: var(--blue);
    color:            white;

    &:hover {
      background-color: hsl(216, 98%, 42%);
    }

  }

}
