@import (reference) 'utilities';
@import (reference) 'variables';

.languages-nav {

  align-items: stretch;

  &__add-language-button {
    .align-center;
    margin    : var(--space);
  }

  .list {
    margin-inline: var(--space);
  }

  // large screens
  @media (min-width: @breakpoint) {
    width: 20em;
  }

}
