@import (reference) 'styles/utilities';

.skip-link {

  background-color: white;
  margin:           var(--space-xxxs);
  padding:          var(--text-padding);
  position:         absolute;
  z-index:          1;

  &:not(:focus) {
    .visually-hidden;
  }

}
