<section class=notes-list>
  <header class=notes-list-header>
    <h3 class='notes-list-heading js-notes-list-heading'>Notes</h3>
    <button aria-label='Add a note' class='add-note-button button transparent' type=button>
      <svg><use href=#add-doc></svg>
    </button>
  </header>
  <ul class=notes></ul>
</section>