.notes-list {

  &.bordered {

    border       : var(--border);
    border-radius: var(--border-radius);

    .notes-list__notes {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

  }

  // open / expanded
  &:not([aria-expanded=false]) {

    .notes-list__closed-icon {
      display: none;
    }

    .notes-list__note-button {
      display: none;
    }

    .notes-list__note-item {
      margin-inline     : var(--space);
      margin-block-start: var(--space);
    }
    .notes-list__note-item:last-child {
      margin-block-end: var(--space);
    }

    .notes-list__notes {
      background-color  : var(--teal-1);
      border-block-start: var(--border);
      box-shadow        : inset var(--box-shadow);
    }

    .notes-list__opened-icon {
      display: block;
    }

  }

  // closed / collapsed
  &[aria-expanded=false] {

    // display Note when edit button is clicked
    .editing {
      // The !important declaration here is necessary to override the higher specificity of
      // the .note { display: none; } below.
      display           : block !important;
      inline-size       : 95%;
      inset-block-end   : var(--space-xs);
      inset-inline-start: calc(-1 * var(--border-width) + 2.5%);
      position          : absolute;
      transform         : translateY(100%);
      // This z-index only needs to be relative to the Notes List.
      // Do not add to z-indexes.less;
      z-index: 1;
    }

    .notes-list__closed-icon {
      display: block;
    }

    .note {
      display: none;
    }

    .notes-list__note-button {
      display: block;
    }

    .notes-list__note-item {

      margin: var(--space-xxxs);

      &:focus-within,
      &:hover {

        // displays note on focus/hover
        .note {
          .editing;
        }

        .notes-list__note-button {
          background-color: var(--teal-1);
          outline         : black solid var(--focus-width);
        }

      }

    }

    .notes-list__notes {
      flex-flow: row wrap;
      position : relative;
    }

    .notes-list__opened-icon {
      display: none;
    }

  }

  &__add-note-button {
    margin: var(--space-xxxs);
  }

  &__header {
    align-items    : center;
    cursor         : pointer;
    flex-flow      : row wrap;
    justify-content: space-between;
  }

  &__heading {
    font-weight: 500;
    padding    : var(--text-padding);
  }

  &__icon {
    --icon-size: 1.5em;
    block-size : var(--icon-size);
    inline-size: var(--icon-size);
    margin     : var(--space-xxxs);
  }

  &__notes {
    inline-size: 100%;
  }

  &__notes:empty {
    display: none;
  }

}
