<details class=notes-list>
  <summary>
    <header class=notes-list__header>
      <svg aria-hidden=true class='notes-list__closed-icon notes-list__icon'><use href=#chevron-right></svg>
      <svg aria-hidden=true class='notes-list__icon notes-list__opened-icon'><use href=#chevron-down></svg>
      <h3 class='notes-list__heading js-notes-list__heading'>Notes</h3>
      <button aria-label='Add a note' class='notes-list__add-note-button button js-notes-list__add-note-button transparent' type=button>
        <svg><use href=#add-doc></svg>
      </button>
    </header>
    <ul class='js-notes-list__notes notes-list__notes'></ul>
  </summary>
</details>
