@import (reference) 'utilities';
@import (reference) 'variables';

span {
  padding:     var(--text-padding);
  white-space: nowrap;
}

#nav {

  background-color: white;

  .current,
  li:hover {

    background-color: var(--blue-1);

    span {
      text-decoration:         underline;
      text-underline-position: under;
    }

  }

  a {
    align-items:    center;
    display:        flex;
    flex-direction: row;
  }

  button {

    align-items:      center;
    background-color: transparent;
    cursor:           pointer;
    display:          flex;

    &:hover {
      background-color: var(--blue-1);
    }

  }


  svg {
    --icon-size: 1.5em;
    height:      var(--icon-size);
    margin:      var(--space-xs);
    width:       var(--icon-size);
  }

  // small screens
  @media (max-width: @breakpoint) {

    border-block-end: var(--border-width) solid #CCC;

    button {
      align-items: flex-start;
    }

    button[aria-expanded=false] + ul {
      display: none;
    }

  }

  // large screens
  @media (min-width: @breakpoint) {

    border-inline-end: var(--border-width) solid #CCC;

    button {
      align-items: center;
    }

    button[aria-expanded=false] + ul {
      span {
        .visually-hidden;
      }
      li {
        width: -moz-fit-content; /* stylelint-disable-line */
        width: fit-content;
      }
      a {
        width: -moz-fit-content; /* stylelint-disable-line */
        width: fit-content;
      }
    }

  }

}
