@import (reference) 'utilities.less';
@import (reference) 'variables.less';

#nav {

  background-color: white;

  .current,
  li:hover {

    background-color: var(--blue-1);

    span {
      text-decoration:         underline;
      text-underline-position: under;
    }

  }

  a {
    align-items:    center;
    display:        flex;
    flex-direction: row;
  }

  button {

    align-items:      center;
    background-color: transparent;
    cursor:           pointer;
    display:          flex;

    &:hover {
      background-color: var(--blue-1);
    }

  }

  .link {

    color: black;

    &::after {
      // The !important declaration here is necessary to override the very high specificity
      // of the external link selector within the .link class.
      position: relative !important;
    }

  }

  span {
    padding:     var(--text-padding);
    white-space: nowrap;
  }

  svg {
    --icon-size: 1.5em;
    height:      var(--icon-size);
    margin:      var(--space-xs);
    width:       var(--icon-size);
  }

  // small screens
  @media (max-width: @breakpoint) {

    border-block-end: var(--border-width) solid #CCC;

    button {
      align-items: flex-start;
    }

    button[aria-expanded=false] + ul {
      display: none;
    }

  }

  // large screens
  @media (min-width: @breakpoint) {

    border-inline-end: var(--border-width) solid #CCC;

    button {
      align-items: center;
    }

    button[aria-expanded=false] + ul {

      a {
        width: -moz-fit-content; /* stylelint-disable-line */
        width: fit-content;
      }

      li {
        width: -moz-fit-content; /* stylelint-disable-line */
        width: fit-content;
      }

      span {
        .visually-hidden;
      }

    }

  }

}
