<nav id=nav class=nav>

  <button aria-expanded=true aria-label='Main Menu' type=button>
    <svg><use href=#menu></svg>
  </button>

  <!-- NOTE: The `alt` attribute is blank on these images because they are decorative. -->
  <ul>

    <li data-page=Home>
      <a href=#main>
        <svg><use href=#home></svg>
        <span>Home</span>
      </a>
    </li>

    <li data-page=Languages>
      <a href=#main>
        <svg><use href=#language></svg>
        <span>Languages</span>
      </a>
    </li>

    <li>
      <a href=https://digitallinguistics.io target=_blank>
        <svg><use href=#digitalis></svg>
        <span>DLx Website</span>
      </a>
    </li>

  </ul>

</nav>
