<nav id=nav class=nav>

  <button aria-expanded=true aria-label='Main Menu' type=button>
    <svg><use href=#menu></svg>
  </button>

  <!-- NOTE: The `alt` attribute is blank on these images because they are decorative. -->
  <ul>

    <li data-page=home>
      <a href=#home-page>
        <svg><use href=#home></svg>
        <span>Home</span>
      </a>
    </li>

    <li data-page=languages>
      <a href=#languages-page>
        <svg><use href=#language></svg>
        <span>Languages</span>
      </a>
    </li>

    <li data-page=lexicon>
      <a href=#lexicon-page>
        <svg><use href=#lexicon></svg>
        <span>Lexicon</span>
      </a>
    </li>

    <li>
      <a class=link href=https://digitallinguistics.io target=_blank>
        <svg><use href=#digitalis></svg>
        <span>DLx Website</span>
      </a>
    </li>

  </ul>

</nav>
