<nav id=nav class=nav>

  <button aria-expanded=true aria-label="Menu" type=button>
    <svg><use xlink:href=#menu></use></svg>
    <!-- <span class=visually-hidden>Menu</span> -->
  </button>

  <!-- NOTE: The `alt` attribute is blank on these images because they are decorative. -->
  <ul>

    <li data-page=Home>
      <a href=#main>
        <svg><use xlink:href=#home></use></svg>
        <span>Home</span>
      </a>
    </li>

    <li data-page=Languages>
      <a href=#main>
        <svg><use xlink:href=#language></use></svg>
        <span>Languages</span>
      </a>
    </li>

    <li>
      <a href=https://digitallinguistics.io target=_blank>
        <svg><use xlink:href=#digitalis></use></svg>
        <span>DLx Website</span>
      </a>
    </li>

  </ul>

</nav>
