:root {
  --border:        var(--border-width) solid var(--border-color);
  --border-radius: 0.375em;
  --border-color:  hsla(210, 11%, 71%, 0.7);
  --border-width:  0.075em;
  --box-shadow:    0 1px 2px 0 hsla(210, 11%, 71%, 0.3);
}
