:root {

  --font:
    'Fira Sans',
    'Noto Sans',
    'Source Sans Pro',
    'Segoe UI',
    Roboto,
    'Lucida Sans Unicode',
    'Lucida Grande',
    'DejaVu Sans',
    'Open Sans',
    sans-serif;

  --font-unicode:
    'Libertinus',
    'Linux Libertine',
    'Gentium Plus',
    'Charis SIL',
    'Doulos SIL',
    'Andika',
    'Source Serif Pro',
    'Noto Serif',
    'Source Sans Pro',
    'Lucida Sans Unicode',
    'Times New Roman',
    serif;

  --measure: 60em; // the maximum width of readable text

  --text-inline-padding-sm: 0.25em;
  --text-inline-padding:    0.5em;
  --text-inline-padding-lg: 1em;

  --text-block-padding-sm: 0.125em;
  --text-block-padding:    0.25em;
  --text-block-padding-lg: 0.5em;

  // vertical + horizontal
  --text-padding-sm: var(--text-block-padding-sm) var(--text-inline-padding-sm);
  --text-padding:    var(--text-block-padding)    var(--text-inline-padding);
  --text-padding-lg: var(--text-block-padding-lg) var(--text-inline-padding-lg);

}
