<main id=main class='main home-page' data-page=Home>

  {{> home-css }}

  <h1>Lotus</h1>

  <p>Coming soon!</p>

  <p>The Lotus app is a tool for linguists to manage their linguistic data, including lexicons, texts, and cognate sets. Keep checking back for updates!</p>
  <p><a class=link href=https://digitallinguistics.io>Learn more about the Digital Linguistics project here!</a></p>
  <p><a class=link href=https://twitter.com/digitalling>Follow Digital Linguistics on Twitter!</a></p>

</main>
