.home-page {

  margin-inline-start: auto;
  margin-inline-end:   auto;
  max-width:           var(--measure);

  h1 {
    font-size:  var(--text-xxl);
    padding:    var(--text-padding);
    text-align: center;
  }

  p {
    padding: var(--text-padding);
  }

  p:first-of-type {
    font-size:  var(--text-lg);
    padding:    var(--text-padding);
    text-align: center;
  }

}
