<main id=home-page class='home-page main' data-page=home>

  <h1 class=page-title>Lotus</h1>

  <p class=block-header>Coming soon!</p>

  <p>The Lotus app is a tool for linguists to manage their linguistic data, including lexicons, texts, and cognate sets. Keep checking back for updates!</p>
  <p><a class=link href=https://digitallinguistics.io>Learn more about the Digital Linguistics project here!</a></p>
  <p><a class=link href=https://twitter.com/digitalling>Follow Digital Linguistics on Twitter!</a></p>

  <section id=install-prompt hidden>
    <h2 class=section-header>Install the Lotus App</h2>
    <p>Did you know that you can install the Lotus app on your computer? It works completely offline, without needing to open a browser. Click the <b>Install</b> button below.</p>
    <button class='blue button' type=button>Install the Lotus app</button>
  </section>

</main>
