<main id=main class='lexicon main' data-page=Lexicon>

  <header class=lexicon__header>
    <h1 class='js-lexicon__title page-title'>Lexicon</h1>
  </header>

  <nav class=lexicon__lexemes-list>
    <h2 class=block-header>Entries</h2>
    <button class='button green'>Add an entry</button>
    <ul></ul>
  </nav>

</main>