<main id=lexicon-page class='lexicon-page main' data-page=lexicon>

  <header class=lexicon-page__header>
    <h1 class='js-lexicon-page__title page-title'>Lexicon</h1>
  </header>

  <nav class=lexicon-page__nav>
    <h2 class=block-header>Entries</h2>
    <button class='button green lexicon-page__add-entry-btn'>Add an entry</button>
    <ol class='js-lexicon-page__lexemes-list lexemes-list lexicon-page__lexemes-list'></ol>
  </nav>

  <form class=lexeme-editor>
    <h1 class=block-header>{ Lexeme Editor }</h1>
  </form>

</main>