@import 'Link/Link';

.banner {

  background-color:  var(--blue);
  flex-direction:    row;
  position:          sticky;
  inset-block-start: 0;


  .lotus {
    fill:   white;
    height: 2em;
    margin: var(--space-xs) auto;
    width:  2em;
  }


  div {
    position: absolute;
    inset-inline-end: 1px;
    color: white;
  }
}
