.banner {

  background-color: var(--blue);
  flex-direction:   row;
  position:         sticky;
  top:              0;

  svg {
    fill:   white;
    height: 2em;
    margin: var(--space-xs) auto;
    width:  2em;
  }

}
