<header id=banner class=banner role=banner>
  <svg aria-hidden=true><use href=#lotus.white /></svg>
  <div>
    <a class=link rel=help href="https://github.com/digitallinguistics/app/issues/new/choose">Report an Issue / Request a Feature</a>
  </div>
</header>
