@import 'Link/Link';
@import (reference) 'utilities';
@import (reference) 'variables';

.help-menu {

  align-self: center;
  color     : white;

  /* Closes the details when clicking anywhere else */
  &[open] summary::before {
    content     : '';
    cursor      : default;
    inset-block : 0;
    inset-inline: 0;
    position    : fixed;
    z-index     : -1;
  }

  .dropdown-content {
    background-color: white;
    border          : var(--border);
    border-radius   : var(--border-radius);
    box-shadow      : var(--box-shadow);
    inset-inline-end: var(--space-xs);
    min-inline-size : max-content;
    position        : absolute;
    z-index         : 2;
  }

  li:hover {

    background-color: var(--blue-1);

    &:first-child {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    // also make external link icon solid black when <li> is hovered
    // (not just when the <span> is hovered)
    .external-link::after {
      background-color: transparent;
      background-image: url('@{external-link}');
    }

  }

  .link {

    align-items      : center;
    display          : flex;
    flex-direction   : row;
    inline-size      : 100%;

    &::after {
      // do not display external link icon
      display: none !important;
    }

    svg {
      color: black;
    }

  }

  span {
    white-space: nowrap;
  }

  svg {
    --icon-size: 1.25em;
    block-size : var(--icon-size);
    inline-size: var(--icon-size);
    margin     : var(--space-xs);
  }

  summary {
    align-items   : center;
    cursor        : pointer;
    display       : flex;
    flex-direction: row;
  }

  @media (max-width: @breakpoint) {

    &__title {
      .visually-hidden;
    }

  }

}
