<details id=help-menu class=help-menu>
  
  <summary>
    <span class=help-menu__title>Help &amp; Feedback</span>
    <svg aria-hidden=true>
      <use href=#info-circle>
    </svg>
  </summary>
  
  <ul class=dropdown-content>
    <li>
      <a class=link href='https://github.com/digitallinguistics/app/discussions/categories/announcements' target=_blank>
        <svg aria-hidden=true>
          <use href=#megaphone>
        </svg>
        <span class=external-link>What's new</span>
      </a>
    </li>
    <li>
      <a class=link href='https://github.com/digitallinguistics/app/issues/new?assignees=&labels=ðŸž+bug&template=bug_report.md' target=_blank>
        <svg aria-hidden=true>
          <use href=#alert-circle>
        </svg>
        <span class=external-link>Report an issue</span>
      </a>
    </li>
    <li>
      <a class=link href='https://github.com/digitallinguistics/app/issues/new?assignees=&labels=ðŸŽ+feature&template=feature_request.md' target=_blank>
        <svg aria-hidden=true>
          <use href=#plus-circle>
        </svg>
        <span class=external-link>Request a feature</span>
      </a>
    </li>
    <li>
      <a class=link href='https://github.com/digitallinguistics/app/discussions/categories/q-a' target=_blank>
        <svg aria-hidden=true>
          <use href=#help-circle>
        </svg>
        <span class=external-link>Visit the Q&amp;A</span>
      </a>
    </li>
  </ul>

</details>