// Styling for specific elements of the app shell

@import (reference) 'variables.less';

@import 'Banner/Banner.less';
@import 'BlockHeader/BlockHeader.less';
@import 'Button/Button.less';
@import 'Footer/Footer.less';
@import 'HelpMenu/HelpMenu.less';
@import 'Nav/Nav.less';
@import 'NavList/NavList.less';
@import 'Skip-Link/Skip-Link.less';
@import 'Transcription/Transcription.less';

:focus {
  z-index: var(--z-focus);
}

.app {
  font-family:     var(--font);
  font-size:       100%;
  line-height:     1.5;
  min-height:      100vh;
  scroll-behavior: smooth;
}

.main {
  inline-size: 100%;
}

.wrapper {

  flex-grow: 1;

  @media (min-width: @breakpoint) {
    flex-flow: row nowrap;
  }

}
