@import (reference) 'utilities.less';
@import (reference) 'variables.less';

.language-editor {

  flex-grow:     1;
  margin-inline: auto;
  max-width:     var(--measure);
  padding:       var(--space);

  &.placeholder {

    .language-editor__buttons {
      .align-center;
    }

    form > :not(.language-editor__buttons) {
      display: none;
    }

    .language-editor__delete-language-button {
      display: none;
    }

  }

  &__add-analysis-lang-button {
    margin-inline-start: var(--space);
  }

  &__add-name-button {
    margin-inline-start: var(--space);
  }

  &__additional-names {
    align-items: stretch;
  }

  &__additional-names-header {
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
  }

  &__analysis-languages {
    align-items: stretch;
  }

  &__analysis-langs-list:not(:empty) {
    margin-block-start: var(--space-xs);
  }

  &__analysis-lang-header {
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
  }

  &__analysis-lang-key {
    flex-direction: row;
    justify-content: space-evenly;
    // small screens
    @media (max-width: @breakpoint) {
      .visually-hidden;
    }
  }

  &__buttons {
    .align-end;
    align-items   : center;
    flex-direction: row;
    margin-block  : var(--space-xxxs);
  }

  &__date {
    font-size: small;
  }

  &__date-field + &__date-field {
    margin-inline-start: var(--space);
  }

  &__delete-language-button {
    margin-inline-start: var(--space-sm);
  }

  &__fieldset {
    margin-block-end: var(--space);
  }

  &__input-group {

    // small screens
    @media (max-width: @breakpoint) {
      flex-direction: column;
    }

    // large screens
    @media (min-width: @breakpoint) {
      flex-direction: row;
    }

  }

  &__legend {

    min-inline-size: 7em;

    // small screens
    @media (max-width: @breakpoint) {
      text-align: left;
    }

    // large screens
    @media (min-width: @breakpoint) {
      text-align: right;
    }

  }

  &__metadata {
    flex-flow: row wrap;
  }

  &__names-list:not(:empty) {
    margin-block-start: var(--space-xs);
  }

}
