.language-editor {

  flex-grow: 1;
  max-width: var(--measure);
  padding:   var(--space);

  .add-language-button {
    margin: auto;
  }

  .add-name-button {
    margin-block: var(--space);
  }

  .additional-names {

    li {
      align-items:     center;
      flex-direction:  row;
      justify-content: space-between;
    }

    p {
      margin-inline-end: auto;
    }

  }

  .delete-language-button {
    align-self:   flex-end;
    margin-block: var(--space);
  }

  .fieldset {
    margin-block: var(--space-xs);
  }

  .text-field {
    .label { width: 7.5em; }
  }

}
