@import (reference) 'Button/Button';
@import (reference) 'Fieldset/Fieldset';

.language-editor {

  flex-grow: 1;
  max-width: var(--measure);

  .add-language-button {
    .button;
    .green;
    margin: auto;
  }

  button {
    margin: var(--space);
  }

  .delete-language-button {
    .button;
    .red;
    align-self: flex-end;
  }

  fieldset { .fieldset; }

}
