<section class=language-editor>
  <form>

    <fieldset class='fieldset name'>
      <legend class=legend>Language Name</legend>
      <p class=help-text>The canonical / scientific name for this language variety.</p>
    </fieldset>

    <fieldset class='autonym fieldset'>
      <legend class=legend>Autonym (Endonym)</legend>
      <p class=help-text>The name of this language in the language itself.</p>
    </fieldset>

    <div class='abbreviation text-field'>
      <label class=legend for=abbreviation>Abbreviation</label>
      <div>
        <input
          autocomplete=off
          class=line-input
          id=abbreviation
          inputmode=text
          name=abbreviation
          pattern=[(a-z)|(A-Z)|(0-9)]+
          placeholder='e.g. spa'
          spellcheck=false
          type=text
        >
        <p class=help-text>An abbreviation for this language variety. May only contain letters and numbers.</p>
      </div>
    </div>

    <fieldset class=additional-names>
      <legend class=legend>Additional Names</legend>
      <p class=help-text>Additional names for this language.</p>
      <ul class=names-list></ul>
      <button class='button add-name-button green' type=button>Add a Language Name</button>
    </fieldset>

    <button class='button delete-language-button red' type=button>Delete this Language</button>

  </form>
</section>
