<section class=language-editor id=language-editor>
  <form>

    <p class='align-end help-text'><span class=required></span> indicates a required field</p>

    <fieldset class='fieldset language-editor__fieldset js-language-editor__name'>
      <legend class='legend required'>Language Name</legend>
      <p class=help-text>The canonical / scientific name for this language variety.</p>
    </fieldset>

    <fieldset class='fieldset js-language-editor__autonym language-editor__fieldset'>
      <legend class=legend>Autonym (Endonym)</legend>
      <p class=help-text>The name of this language in the language itself.</p>
    </fieldset>

    <div class=input-group>
      <label class=legend for=abbreviation>Abbreviation</label>
      <div>
        <input
          autocomplete=off
          class=line-input
          data-bind=value:abbreviation
          id=abbreviation
          inputmode=text
          name=abbreviation
          pattern=[(a-z)|(A-Z)|(0-9)]+
          placeholder='e.g. spa'
          spellcheck=false
          type=text
        >
        <p class=help-text>An abbreviation for this language variety. May only contain letters and numbers.</p>
      </div>
    </div>

    <fieldset class='fieldset language-editor__additional-names language-editor__fieldset'>
      <legend class=legend>Additional Names</legend>
      <header class=language-editor__additional-names-header>
        <p class=help-text>Additional names for this language.</p>
        <button class='button green js-language-editor__add-name-button language-editor__add-name-button' type=button>Add a Language Name</button>
      </header>
      <ul class=js-language-editor__names-list list></ul>
    </fieldset>

    <div class=language-editor__buttons>
      <button class='button green js-language-editor__add-language-button language-editor__add-language-button' type=button>Add a Language</button>
      <button class='button js-language-editor__delete-language-button language-editor__delete-language-button red' type=button>Delete this Language</button>
    </div>

  </form>
</section>
