<section class=language-editor>
  <form>

    <fieldset class='fieldset name'>
      <legend>Language Name</legend>
      <p class=help-text>The canonical / scientific name for this language variety.</p>
    </fieldset>

    <button class=delete-language-button type=button>Delete this Language</button>

  </form>
</section>
