<section class=language-editor id=language-editor>
  <form>
    <p class='help-text right'><span class=required></span> indicates a required field</p>

    <fieldset class='fieldset name'>
      <legend class='legend required'>Language Name</legend>
      <p class=help-text>The canonical / scientific name for this language variety.</p>
    </fieldset>

    <fieldset class='autonym fieldset'>
      <legend class=legend>Autonym (Endonym)</legend>
      <p class=help-text>The name of this language in the language itself.</p>
    </fieldset>

    <div class='abbreviation input-group'>
      <label class=legend for=abbreviation>Abbreviation</label>
      <div>
        <input
          autocomplete=off
          class=line-input
          data-bind=value:abbreviation
          id=abbreviation
          inputmode=text
          name=abbreviation
          pattern=[(a-z)|(A-Z)|(0-9)]+
          placeholder='e.g. spa'
          spellcheck=false
          type=text
        >
        <p class=help-text>An abbreviation for this language variety. May only contain letters and numbers.</p>
      </div>
    </div>

    <fieldset class='additional-names fieldset'>
      <legend class=legend>Additional Names</legend>
      <header>
        <p class=help-text>Additional names for this language.</p>
        <button class='button add-name-button green' type=button>Add a Language Name</button>
      </header>
      <ul class=names-list></ul>
    </fieldset>

    <fieldset class='fieldset language-editor__metadata language-editor__fieldset'>
      <legend class=legend>Metadata</legend>
        <div class='language-editor__date-field'>
          <label class=label>Date Created:</label>
          <time class='language-editor__date js-language-editor__date-created'></time>
        </div>
        <div class='language-editor__date-field'>
          <label class=label>Date Modified:</label>
          <time class='language-editor__date js-language-editor__date-modified'></time>
        </div>
    </fieldset>

    <button class='button delete-language-button red' type=button>Delete this Language</button>

  </form>
</section>
