<main id=language-chooser class='lang-chooser main' data-page=language-chooser>
  <h1 class=block-header>Choose a language</h1>
  <ul class=js-lang-chooser__list></ul>
  <button class='button green js-lang-chooser__button lang-chooser__button'>Add a language</button>
</main>