<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    {{!-- critical metadata --}}
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Lotus</title>

    {{!-- metadata --}}
    <meta name=author content='Daniel W. Hieber'>
    <meta name=description content='The Lotus web app for managing linguistic data'>
    <meta name=keywords content='linguistics, Digital Linguistics, digital humanities, corpus linguistics, corpora, lexicography, language documentation, language, language description, descriptive linguistics, documentary linguistics'>
    <meta name=rating content=general>
    <meta name=robots content='index,follow'>

    {{!-- linked metadata --}}
    <link rel=author href=https://danielhieber.info>
    <link rel=license href=https://github.com/digitallinguistics/app/blob/master/LICENSE.md>
    <link rel=manifest href=manifest.json>

    {{!-- Facebook sharing --}}
    <meta property=og:description content='The Lotus web app for managing linguistic data'>
    <meta property=og:image content=https://app.digitallinguistics.io/images/social.png>
    <meta property=og:image:height content=315>
    <meta property=og:image:width content=600>
    <meta property=og:locale content=en_US>
    <meta property=og:title content=Lotus>
    <meta property=og:type content=website>
    <meta property=og:url content=https://app.digitallinguistics.io>
    <meta property=og:site_name content='Lotus'>

    {{!-- Twitter sharing --}}
    <meta name=twitter:card content=summary>
    <meta name=twitter:creator content=@digitalling>
    <meta name=twitter:site content=@digitalling>
    <meta name=twitter:image:alt content='lotus flower'>

    {{!-- favicon --}}
    <link rel=icon href=images/favicon.svg type=image/svg+xml>

    {{!-- styling for app shell --}}
    <style>
      {{> critical-css}}
    </style>

  </head>

  <body id=app class=app>

    {{!-- skip link --}}
    {{> Skip-Link}}

    {{!-- the main banner for the app, containing the app logo and high-level app controls --}}
    {{> Banner}}

    <div id=wrapper class=wrapper>

      {{!-- main navigation --}}
      {{> Nav}}

      {{!-- the main content of the page (should always be a `<main id={page}>` element --}}
      <main id=main class=main></main>

    </div>

    {{!-- an AIRA live region for announcing messages to screen readers --}}
    <p id=info hidden aria-live=polite></p>

    {{!-- SVG sprites, which can be reused across the app with the <use> tag --}}
    {{> sprites}}

    {{!-- template tags for pages and components will get populated here --}}
    <div id=templates hidden>

      <template id=note-template>
        {{> Note }}
      </template>

      <template id=notes-list-template>
        {{> NotesList }}
      </template>

    </div>

    {{!-- app-level scripts go here --}}
    <script type=module>

      // save the beforeinstallprompt event
      window.addEventListener(`beforeinstallprompt`, e => {
        window.installEvent = e;
      });

      // hide the install prompt after app is installed
      window.addEventListener(`appinstalled`, () => {
        const el = document.querySelector(`#install-prompt`);
        if (el) el.hidden = true;
      })

      // initialize the app
      import App from './App/App.js';
      window.app = new App;
      window.addEventListener(`load`, async () => {
        await window.app.initialize();
        await window.app.render();
      });

      // register the offline service worker
      if ('serviceWorker' in navigator && navigator.onLine) {
        navigator.serviceWorker.register('offline-worker.js');
      }

    </script>

  </body>

</html>
